@use '../configuration/mixins' as mix;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior-y: none; 
}

#app {
  letter-spacing: 1.5px;
  -webkit-text-size-adjust: 100%; /* 2 */
  font-feature-settings: "palt" 1;
  font-kerning: auto;

}

.novel-title, .novel-subtitle {
  font-weight: 600;
}
.novel-title {
  font-size: 2rem;
  margin: 0;
}
.novel-subtitle {
  display: block;
  font-size: 1.55rem;
  line-height: 1.8;
}
.section-title {
  text-align: center;
  font-size: 1.5rem;
  position: relative;

  & > span {
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
  }
}
.novel-block {
  & > p {
    // letter-spacing: .1em;

    line-height: 2;
    margin: 0;

    & rt {
      font-size: .5em;
    }
  }
}
.indent {
  text-indent: 1em;
}
/* 表示方向 */
// 横書き
.ltr {
  .novel-title {
    text-align: center;
    padding: 2rem 0;
  }
  .section-title {
    margin: 0 auto;
    text-align: center;
    max-width: 680px;
    width: 80%;

    & > span {
      padding: 0 .25em;
    }

    &::before {
      left: 0;
      top: 50%;
      width: 100%;
      height: 0;
      border-top: 1px solid;
    }
  }
  .novel-block {
    margin: 3rem auto 8rem;
    max-width: 680px;
    width: 80%;

    & > p:empty {
      height: 1.8em;
    }

    & > p > img {
      text-align: center;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin: 1.8em auto;
      max-width: 100%;
    }

    & > p > .dir-h {
      max-height: 600px;
      width: auto;
      @include mix.mq('sp') {
        max-height: 454px;
      }
    }
  
    & > p > .dir-v {
      height: auto;
      max-width: 728px;
      @include mix.mq('sp') {
        max-width: 320px;
      }
    }
  }
}
// 縦書き
.rtl {
  .novel-title {
    margin: auto 2em auto .5em;
    height: 80%;
    max-height: 600px;
  }
  .section-title {
    margin: auto 0;
    height: 80%;
    max-height: 600px;

    & > span {
      padding: .5em 0;
    }

    &::before {
      top: 0;
      right: 50%;
      height: 100%;
      width: 0;
      border-right: 1px solid;
    }
  }
  .novel-block {
    margin: auto 3rem auto 8rem;
    max-height: 600px;
    height: 80%;

    & > p:empty {
      width: 1.8em;
    }

    & > p[id^="sashie"] {
      width: 600px;
    }

    & > p > img {
      margin: 0 1.8em;
      max-height: 100%;
    }

    & > p > .dir-h {
      max-height: 600px;
      width: auto;
      @include mix.mq('sp') {
        max-height: 454px;
      }
    }
  
    & > p > .dir-v {
      height: auto;
      max-width: 728px;
      @include mix.mq('sp') {
        max-width: 320px;
      }
    }

    & > p >.text-combine {
      -webkit-text-combine: horizontal;
      -ms-text-combine-horizontal: all;
      text-combine-upright: all;
    }
  }
}
