@use '../configuration/mixins' as mix;

.snv-sns-wrap {
  position: relative;
}
.snv-sns-btn-wrap {
  text-align: center;
  width: 100%;

  .snv-btn-share {
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    border-style: none;

    font-family: inherit;
    font-size: 100%;
    color: #fff;
    text-align: left;
    line-height: 42px;
    border-radius: 5px;

    background-color: orange;
    @include mix.icon-share('#fff');
    background-size: 26px;
    background-position: 10px center;
  
    margin: 0;
    padding: 0 0 0 48px;
    height: 48px;
    width: 120px;
  }  
}
.snv-shareTextWrap {
  display: block;
  background-color: #fbf9f7;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  box-sizing: border-box;

  text-align: center;

  opacity: 1;
  position: relative;
  padding-block: 1rem;
  
  transition: height .3s, opacity .3s;

  &::after {
    content: '※動作しない時は手動でコピーをお願いします。';
    position: relative;
    display: block;
    font-size: 0.75em;
  }


  & > p {
    font-size: 15px;
    margin: 0;
  }

  & > textarea {
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 1rem;
    padding: .5em;
    height: 8em;
    width: 100%
  }

  & > button {
    font-family: inherit;
    font-size: 0.85rem;
    // text-align: center;

    // overflow: visible;
    text-transform: none;
    -webkit-appearance: button;

    border: solid 2px #e6e4d9;
    border-radius: 3px;

    background-image: linear-gradient(#fff,#f5f8fa);
    margin: 1em 0 0;
    padding: .8em 1em;
  }
}
.snv-next-link,
.snv-close-link {
  font-size: 1.5rem;
  display: block;
  text-decoration: none;
}
.snv-next-link {
  position: relative;
  &::before {
    content: '次話';
    font-size: 1rem;
    line-height: 1.5;
    display: block;
  }

  &::after {
    content: '';
    display: block;
    background-size: 2.5em;
    background-position: 50% 55%;
    height: 3em;
    width: 3em;
  }
}
.snv-close-link {
  display: block;
  position: relative;

  &::before {
    content: '';
    @include mix.icon-cross(#999);
    background-size: 1.25em;
    background-position: center;
    display: inline-block;
    position: relative;
    height: 1.25em;
    width: 1.25em;
  }
}
/* 表示方向 */
// 横書き
.snv-ltr {
  .snv-novel-footer {
    padding: 0;
  }
  .snv-sns-wrap {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 480px;
    width: 100%;
  }
  .snv-shareTextWrap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1em;
    height: auto;

    &::before {
      content: "";
      pointer-events: none;
      clip-path: polygon(0 100%, 50% 0, 100% 100%);
      background-color: #fbfbf8;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: -25px;
      height: 25px;
      width: 30px;
    }

    &.snv-hide {
      overflow: hidden;
      height: 0;
      width: 0;
      opacity: 0;
      margin: 0;
      padding: 0;
    }
  }
  .snv-next-link,
  .snv-close-link {
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
    @include mix.mq('sp') {
      padding-bottom: 2rem;
    }
  }

  .snv-next-link {
    &::after {
      @include mix.icon-arrow-down(#999);
      margin: .5rem auto 0;
    }
  }
  .snv-close-link {
    &::before {
      margin-right: .35em;
      top: .25em;
    }
  }
}
// 縦書き
.snv-rtl {
  .snv-novel-footer {
    padding: 0;
    height: 100%;
  }
  .snv-sns-wrap {
    margin: auto 0;
    padding: 0 2rem;
    height: 320px;
  }
  .snv-btn-share {
    @include mix.writing-ltr;
  }
  .snv-shareTextWrap {
    @include mix.writing-ltr();
    margin: auto 1rem auto 0;
    padding: 1rem;
    max-width: 320px;
    height: auto;
    width: 100%;

    &::before {
      content: "";
      pointer-events: none;
      clip-path: polygon(0 0%, 0 100%, 100% 50%);
      background-color: #fbfbf8;
      position: absolute;
      left: auto;
      right: -25px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 30px;
      width: 25px;
    }

    &.snv-hide {
      overflow: hidden;
      height: 0;
      width: 0;
      opacity: 0;
      margin: 0;
      padding: 0;
    }

  }
  .snv-next-link,
  .snv-close-link {
    padding-left: 4rem;
    text-align: center;
    @include mix.mq('sp') {
      padding-left: 2rem;
    }
  }
  .snv-next-link {
    padding-right: 2rem;
    &::after {
      @include mix.icon-arrow-left(#999);
      margin: auto .5rem auto 0;
    }
  }
  .snv-close-link {
    padding-right: 4rem;
  }
  .snv-close-link {
    &::before {
      margin-bottom: .5em;
    }
  }
}