@use '../configuration/variables' as var;
@use '../configuration/mixins' as mix;

.snv-menu-wrapper {
  font-size: 1rem;
  position: absolute;
  margin: 0;
}
.snv-novel-menu {
  position: fixed;
  margin: auto;
  padding: 0;
  transition: transform .5s ease;
}
.snv-menu-close-toggle {
  color: transparent;
  background-color: rgba(0, 0, 0, .25);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.snv-novel-menu-label {
  display: block;
}
.snv-novel-close-button {
  display: flex;
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

#snv-novel-style-toggle,
#snv-novel-index-toggle {
  display: none;
}

.snv-novel-style-contents {
  height: 100%;
  width: 100%;
}
.snv-novel-index-contents {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.snv-novel-style-toggle-label,
.snv-novel-close-button,
.snv-novel-index-toggle-label {
  font-size: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#snv-novel-style-menu,
#snv-novel-index-menu {
  z-index: 2;
}
#snv-novel-style-toggle:checked ~ #snv-novel-style-menu,
#snv-novel-index-toggle:checked ~ #snv-novel-index-menu {
  z-index: 10;
}
#snv-novel-style-toggle:checked + .snv-novel-style-toggle-label,
#snv-novel-index-toggle:checked + .snv-novel-index-toggle-label {
  z-index: 11;
}

#snv-novel-style, #snv-novel-index,
input[type=radio] {
  display: none;
}

.snv-radio-label-style {
  font-size: .9rem;
  display: flex;
  border: solid 2px;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.snv-novel-radio-wrap > input[type="radio"]:checked + .snv-radio-label-style {
  border-color: #8dc2ff;
}
.snv-radio-label-style.snv-style-small {
  font-size: var.$fontSizeSmall * 0.8;
}
.snv-radio-label-style.snv-style-normal {
  font-size: var.$fontSizeNormal * 0.8;
}
.snv-radio-label-style.snv-style-large {
  font-size: var.$fontSizeLarge * 0.8;
}
.snv-radio-label-style.snv-style-oversize {
  font-size: var.$fontSizeOversize * 0.8;
}
.snv-radio-label-style.snv-style-white {
  @include mix.theme-white;
}
.snv-radio-label-style.snv-style-dark {
  @include mix.theme-dark;
}
.snv-radio-label-style.snv-style-kinari {
  @include mix.theme-kinari;
}
.snv-radio-label-style.snv-style-ltr {
  @include mix.writing-ltr;
}
.snv-radio-label-style.snv-style-rtl {
  @include mix.writing-rtl;
}

.snv-index-list {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    & > a {
      display: block;
      text-decoration: none;
    }
  }
}
.snv-index-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}
.snv-index-subtitle {
  font-size: 1.1rem;
  margin: 0;
}

/* 表示方向 */
// 横書き
.snv-ltr {
  .snv-novel-menu {
    border-left: 1px solid;
    transform: translateX(100%);
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    height: 100%;
    width: 30%;
    @include mix.mq('tb') {
      width: 60%;
    }
    @include mix.mq('sp') {
      width: 80%;
    }
  }

  #snv-novel-style-menu {
    position: fixed;
    height: 100%;
  }

  #snv-novel-index-menu {
    position: fixed;
  }

  #snv-novel-style-toggle:checked ~ #snv-novel-style-menu,
  #snv-novel-index-toggle:checked ~ #snv-novel-index-menu {
    transform: translateX(0);
  }
  // .novel-close-button,
  .snv-novel-style-toggle-label
  {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .snv-novel-close-button,
  .snv-novel-style-toggle-label,
  .snv-novel-index-toggle-label {
    @include mix.writing-rtl;
    position: fixed;
    right: 0;
    height: 60px;
    width: 44px;
    @include mix.mq('sp') {
      width: 9.5%;
    }
  }
  .snv-novel-style-toggle-label,
  .snv-novel-index-toggle-label {
    transition: right .48s ease;
  }
  .snv-novel-close-button {
    top: 0;
  }
  .snv-novel-style-toggle-label {
    top: 60px;
  }
  .snv-novel-index-toggle-label {
    top: 120px;
  }
  #snv-novel-style-toggle:checked + .snv-novel-style-toggle-label,
  #snv-novel-index-toggle:checked + .snv-novel-index-toggle-label {
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid;
    right: 29.9%;
    @include mix.mq('tb') {
      right: 59.7%;
    }
    @include mix.mq('sp') {
      right: 79.7%;
    }
  }

  .snv-novel-style-contents {
    padding: 10px 15px;
    height: 100%;
  }
  .snv-novel-radio-wrap {
    display: flex;
  }
  .snv-menu-item-wrap {
    width: 100%;
  }
  .snv-menu-item-label {
    margin-bottom: .25rem;
  }
  .snv-radio-label-style {
    height: 56px;
    width: 62px;  
  }

  .snv-novel-index-contents {
    padding: 10px 10px;
    width: auto;
  }
  .snv-index-title {
    margin-top: 1em;
    padding-left: 5px;
  }
  .snv-index-subtitle {
    margin-bottom: 1rem;
    padding-left: 5px;
  }
  .snv-index-list {
    overflow-y: auto;
    height: calc(100% - 100px);

    & > li {
      padding: 1em .1em 1em 1.5em;
      position: relative;
      border-bottom: 1px solid;

      & > .snv-current {
        display: block;
        position: relative;

        &::before {
          content: "▶︎";
          position: absolute;
          left: -1.2em;
          top: 1px;
        }
      }
      &:first-child {
        border-top: 1px solid;
      }

      & > a {
        position: relative;
        padding-right: 1.1em;
        
        &::after {
          content: '\03e';
          position: absolute;
          display: block;
          margin: auto;
          right: 0;
          top: 0;
          bottom: 0;
          left: auto;
          height: 1.1em;
          width: 1.1em;
        }
      }
    }
  }
}
/* firefox */
@-moz-document url-prefix() {
  .snv-ltr .snv-index-subtitle {
    margin-top: -.5em;
    margin-bottom: .75em;
  }
	.snv-ltr .snv-index-list > li > a::after {
    top: -1em;
	}
}
/* chrome safari opera */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .snv-ltr .snv-index-list > li > a::after {
    top: -4px;
  }
}

// 縦書き
.snv-rtl {
  .snv-novel-menu {
    border-top: 1px solid;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    height: 45%;
    @include mix.mq('tb') {
      height: 60%;
    }
    @include mix.mq('sp') {
      height: 90%;
    }
  }

  #snv-novel-style-menu {
    position: fixed;
    width: 100vw; 
  }

  #snv-novel-index-menu {
    position: fixed;
    width: 100vw;
  }

  #snv-novel-style-toggle:checked ~ #snv-novel-style-menu,
  #snv-novel-index-toggle:checked ~ #snv-novel-index-menu {
    transform: translateY(0);
  }

  .snv-novel-style-toggle-label {
    border-right: 1px solid;
    border-left: 1px solid;
  }
  .snv-novel-close-button,
  .snv-novel-style-toggle-label,
  .snv-novel-index-toggle-label {
    @include mix.writing-ltr;
    position: fixed;
    bottom: 10px;
    height: 44px;
    @include mix.mq('sp') {
      height: 7%;
    }
    width: 60px;
  }
  .snv-novel-style-toggle-label,
  .snv-novel-index-toggle-label {
    transition: bottom .48s ease;
  }
  .snv-novel-close-button {
    right: 0;
  }
  .snv-novel-style-toggle-label {
    right: 60px;
  }
  .snv-novel-index-toggle-label {
    right: 120px;
  }

  #snv-novel-style-toggle:checked + .snv-novel-style-toggle-label,
  #snv-novel-index-toggle:checked + .snv-novel-index-toggle-label {
    border-top-left-radius: 10px;
    border-left: 1px solid;
    
    bottom: 44.7%;
    @include mix.mq('tb') {
      bottom: 59.7%;
    }
    @include mix.mq('sp') {
      bottom: 89.7%;
    }
  }

  .snv-novel-style-contents {
    padding: 15px 10px;
  }

  @include mix.mq('tb') {
    .snv-novel-style-contents {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
    }
    .snv-menu-item-wrap {
      height: 50%;
      width: 45vw;
    }
  }
  @include mix.mq('sp') {
    .snv-novel-style-contents {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
    }
    .snv-novel-radio-wrap {
      display: flex;
      flex-wrap: wrap;
    }
    .snv-menu-item-wrap:nth-child(1),
    .snv-menu-item-wrap:nth-child(2) {
      width: 50vw;
    }
    .snv-menu-item-wrap:nth-child(3),
    .snv-menu-item-wrap:nth-child(4) {
      width: 40%;
    }
    .snv-menu-item-wrap:nth-child(odd) {
      height: 55%;
    }
    .snv-menu-item-wrap:nth-child(even) {
      height: 45%;
    }
  }
  .snv-menu-item-label {
    margin-left: .25rem;
  }
  .snv-radio-label-style {
    height: 62px;
    width: 56px;  
  }

  .snv-novel-index-contents {
    padding: 12px 10px;
  }
  .snv-index-title {
    margin-right: 1em;
  }
  .snv-index-subtitle {
    margin-left: 1rem;
  }
  .snv-index-list {
    overflow-x: auto;
    width: calc(100% - 95px);

    & > li {
      padding: 1.5em 1em 0 1em;
      border-left: 1px solid;

      & > .snv-current {
        display: block;
        position: relative;

        &::before {
          content: "▼";
          position: absolute;
          top: -1.2em;
          right: 0px;
        }
      }

      &:first-child {
        border-right: 1px solid;
      }

      & > a {
        position: relative;
        &::after {
          content: '\03e';
          position: absolute;
          margin: auto;
          top: auto;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
/* firefox */
@-moz-document url-prefix() {
  .snv-rtl .snv-index-subtitle {
    margin-right: -.5em;
    margin-left: .75em;
  }
	.snv-rtl .snv-index-list > li > a::after {
    right: -1em;
	}
}
/* chrome safari opera */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .snv-rtl .snv-index-list > li > a::after {
    right: -2px;
  }
}
