$fontSizeSmall: .9625rem;
$fontSizeNormal: 1.1rem;
$fontSizeLarge: 1.25rem;
$fontSizeOversize: 1.422rem;

$fontMincho: "Noto Serif JP", "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
$fontGothic: 'Noto Sans JP', "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

$whiteBgColor: #fffffc;
$whiteFontColor: #444;
$kinariBgColor: #f7efe3;
$kinariFontColor: #444;
$darkBgColor: #222;
$darkFontColor: #ddd;