$fontSizeSmall: .9625rem;
$fontSizeNormal: 1.0625rem;
$fontSizeLarge: 1.25rem;
$fontSizeOversize: 1.422rem;

$fontMincho: "BIZ UDMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "游明朝", "Yu Mincho", YuMincho, "Noto Serif JP", HGS明朝E, メイリオ, Meiryo, serif;
$fontGothic: "BIZ UDGothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "游ゴシック", "Yu Gothic", YuGothic, "Noto Sans JP", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

$whiteBgColor: #fffffc;
$whiteFontColor: #444;
$kinariBgColor: #f7efe3;
$kinariFontColor: #444;
$darkBgColor: #222;
$darkFontColor: #ddd;