@use '../configuration/variables' as var;
@use '../configuration/mixins' as mix;

.snv-novel-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* 表示方向 */
// 横書き
.snv-ltr {
  @include mix.writing-ltr;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
}
// 縦書き
.snv-rtl {
  @include mix.writing-rtl;
  font-feature-settings: "palt" 1;
  overflow-y: hidden;
  height: 100%;
  min-width: calc(100% - 17px);
}
/* テーマ */
// 白
.snv-paper-white {
  @include mix.theme-white;

  .snv-prev-link {
    color: #444;
    background-color: #ddd;
    &:hover {
      background-color: #ededed;
    }
  }

  .snv-novel-title, .snv-section-title {
    color: #555;
  }
  .snv-section-title {
    & > span {
      background-color: var.$whiteBgColor;
    }

    &::before {
      border-color: #ccc;
    }
  }

  .snv-novel-footer {
    background-color: #eee;
  }
  .snv-next-link,
  .snv-close-link {
    background-color: lighten(#eee, 3);
    color: #666;
  }

  .snv-novel-menu,
  .snv-novel-style-toggle-label,
  .snv-novel-close-button,
  #snv-novel-style-toggle:checked + .snv-novel-style-toggle-label,
  #snv-novel-index-toggle:checked + .snv-novel-index-toggle-label {
    border-color: #ccc;
  }
  .snv-novel-menu,
  #snv-novel-style-toggle:checked + .snv-novel-style-toggle-label,
  #snv-novel-index-toggle:checked + .snv-novel-index-toggle-label {
    background-color: #faf9f5;
    color: var.$whiteFontColor;
  }

  .snv-novel-close-button {
    color: var.$whiteFontColor;
  }

  .snv-novel-close-button,
  .snv-novel-style-toggle-label {
    border-color: #ccc;
  }

  .snv-radio-label-style {
    border-color: #d3d3d3;
  }

  .snv-index-list {
    & > li {
      border-color: #ccc;
      
      &:first-child {
        border-color: #ccc; 
      }

      & > a {
        &:link {
          color: #666;
        }
        &:visited {
          color: #898989;
        }
      }
    }
  }
}
// 生成り
.snv-paper-kinari {
  @include mix.theme-kinari;
  
  .snv-prev-link {
    color: #444;

    $bgColor: #d6d6ce;
    background-color: $bgColor;
    &:hover {
      background-color: lighten($bgColor, 5);
    }
  }

  .snv-novel-title, .snv-section-title {
    color: #555;
  }
  .snv-section-title {
    & > span {
      background-color: var.$kinariBgColor;
    }

    &::before {
      border-color: #ccc;
    }
  }

  .snv-novel-footer {
    background-color: #d6d6ce;
  }
  .snv-next-link,
  .snv-close-link {
    background-color: lighten(#d6d6ce, 7);
    color: #333;
  }

  .snv-novel-menu,
  .snv-novel-style-toggle-label,
  .snv-novel-close-button,
  #snv-novel-style-toggle:checked + .snv-novel-style-toggle-label,
  #snv-novel-index-toggle:checked + .snv-novel-index-toggle-label {
    border-color: #ccc;
  }

  .snv-novel-menu,
  #snv-novel-style-toggle:checked + .snv-novel-style-toggle-label,
  #snv-novel-index-toggle:checked + .snv-novel-index-toggle-label {
    color: var.$kinariFontColor;
    background-color: darken(var.$kinariBgColor, 5);
  }
  .snv-novel-close-button {
    color: var.$kinariFontColor;
  }

  .snv-novel-menu,
  .snv-novel-close-button,
  .snv-novel-style-toggle-label,
  .snv-novel-index-toggle-label {
    border-color: #ccc;
  }

  .snv-radio-label-style {
    border-color: #d3d3d3;
  }

  .snv-index-list {
    & > li {
      border-color: #ccc;
      
      &:first-child {
        border-color: #ccc; 
      }

      & > a {
        &:link {
          color: #666;
        }
        &:visited {
          color: #898989;
        }
      }
    }
  }
}
// 黒
.snv-paper-dark {
  @include mix.theme-dark;
  .snv-prev-link {
    color: #ccc;
    background-color: lighten(var.$darkBgColor, 10);
    &:hover {
      background-color: lighten(var.$darkBgColor, 15);
    }
  }

  .snv-novel-title, .snv-section-title {
    color: darken(var.$darkFontColor, 10);
  }
  .snv-section-title {
    & > span {
      background-color: var.$darkBgColor;
    }

    &::before {
      border-color: #ccc;
    }
  }

  .snv-novel-footer {
    background-color: lighten(var.$darkBgColor, 10);
  }
  .snv-btn-share {
    background-color: darken(orange, 10);
  }
  .snv-shareTextWrap {
    background-color: lighten(var.$darkBgColor, 30);
    color: lighten(var.$darkFontColor, 20);
  }
  .snv-next-link,
  .snv-close-link {
    background-color: lighten(var.$darkBgColor, 17);
    color: #ccc;
  }

  .snv-novel-menu,
  .snv-novel-style-toggle-label,
  .snv-novel-close-button,
  #snv-novel-style-toggle:checked + .snv-novel-style-toggle-label,
  #snv-novel-index-toggle:checked + .snv-novel-index-toggle-label {
    border-color: #666;
  }

  .snv-novel-menu,
  #snv-novel-style-toggle:checked + .snv-novel-style-toggle-label,
  #snv-novel-index-toggle:checked + .snv-novel-index-toggle-label {
    color: var.$darkFontColor;
    background-color: lighten(var.$darkBgColor, 5);
  }
  .snv-novel-close-button {
    color: var.$darkFontColor;
  }

  .snv-radio-label-style {
    border-color: #666;
  }

  .snv-index-list {
    & > li {
      border-color: #666;
      
      &:first-child {
        border-color: #666; 
      }  

      & > a {
        &:link {
          color: #bbb;
        }
        &:visited {
          color: #666;
        }
      }
    }
  }
}

/* スタイル */
.snv-font-mincho {
  font-family: var.$fontMincho;
}
.snv-font-gothic {
  font-family: var.$fontGothic!important;
}
.snv-fontsize-small {
  font-size: var.$fontSizeSmall;
  .snv-dash-rule {
    letter-spacing: 0;
    margin-inline-start: .1em;
    margin-inline-end: .1em;
  }  
}
.snv-fontsize-normal {
  font-size: var.$fontSizeNormal;
  .snv-dash-rule {
    letter-spacing: 0;
    margin-inline-start: .1em;
    margin-inline-end: .1em;
  }  
}
.snv-fontsize-large {
  font-size: var.$fontSizeLarge;
  .snv-dash-rule {
    letter-spacing: 0;
    margin-inline-start: .1em;
    margin-inline-end: .1em;
  }  
}
.snv-fontsize-oversize {
  font-size: var.$fontSizeOversize;
  .snv-dash-rule {
    letter-spacing: 0;
    margin-inline-start: .1em;
    margin-inline-end: .1em;
  }  
}